@use "../../App.scss" as l;

.sub-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/images/log-img1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 1200px;
    height: 700px;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(244, 244, 244, 0.7);
    backdrop-filter: blur(40px);
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.10);

    .right-login {
      flex: 1;
      // padding: 60px 50px;
      // margin:60px;
      background: rgba(255, 255, 255, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      .right-login-wrap{
        padding: 60px 50px;
      }

      .section-title {
        @include l.myTitle24();
        margin-bottom: 30px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input {
          width: 100%;
          height: 48px;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 24px 12px;
          @include l.myTitle16();
          text-align: left;
          background: l.$BG;
        }

        button {
          width: 100%;
          height: 46px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          background-color: l.$text4;
          @include l.myTitle16();
          color: l.$text10;
          transition: 0.3s;

          &:hover {
            background-color: l.$text1;
          }
        }

        .log-text {
          display: flex;
          justify-content: center;
          @include l.myTitle16();
          margin-top: 10px;
          gap: 12px;
          color: l.$text4;
          p{
          display: block;
          }
          button{
             @include l.myTitle16();
            color: l.$text4;
            text-decoration: underline;
            background: none;
            height:100%;
           
            // padding: 0;
            width:6rem;

          }

        }

        .log-web {
          @include l.myTitle14();
          color: l.$text4;
          margin: 32px 0 20px 0;
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 35%;
            height: 1px;
            background: l.$text4;
          }

          &::before {
            left: 0;
          }

          &::after {
            right: 0;
          }
        }

        button.google,
        button.kakao {
          background-color: l.$BG;
          color: l.$text6;

          &:hover {
            color: l.$text1;

          }
        }
      }
    }

    .login-left {
      @include l.myTitle32();
      font-weight: 400;
      color: l.$text10;
      flex: 1;
      background: url('../../../public/images/log-img2.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      // margin:12px;
    }
  }
}