*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #222;
}

button{
  cursor: pointer;
}

img,video{
  max-width: 100%;
  vertical-align: middle;
}

address,em,i{
  font-style: normal;
}